
FRD3DBarChart.xcodeproj/project.xcworkspace/xcuserdata/sebastien.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

FRD3DBarChart.xcodeproj/xcuserdata/sebastien.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
FRD3DBarChart.xcodeproj/project.xcworkspace/xcshareddata/FRD3DBarChart.xccheckout
FRD3DBarChart.xcodeproj/project.xcworkspace/xcuserdata/sebastienwindal.xcuserdatad/UserInterfaceState.xcuserstate
FRD3DBarChart.xcodeproj/project.xcworkspace/xcuserdata/sebastienwindal.xcuserdatad/WorkspaceSettings.xcsettings
FRD3DBarChart.xcodeproj/xcuserdata/sebastienwindal.xcuserdatad/xcschemes/xcschememanagement.plist
