
FRD3DBarChart.xcodeproj/project.xcworkspace/xcuserdata/sebastien.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

FRD3DBarChart.xcodeproj/xcuserdata/sebastien.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
